version: '3.8'

services:
  app:
    build: .
    container_name: insight-platform-container
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development